# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

# JavaScript, TypeScript, Vue files
[*.{js,ts,jsx,tsx,vue,mjs}]
indent_size = 2
max_line_length = 100

# JSON files
[*.json]
indent_size = 2

# YAML files
[*.{yml,yaml}]
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false

# CSS/SCSS/Less
[*.{css,scss,less}]
indent_size = 2

# HTML files
[*.{html,vue}]
indent_size = 2
